<launch>

    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_leftwheel" args="0 0.28 0 0 0 0 base_link Lw" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_rightwheel" args="0 -0.28 0 0 0 0 base_link Rw" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_footprint" args="0 0 -0.153 0 0 0 base_link base_footprint" /> <!-- Z-translation equals wheel radius -->

    <!-- Landshark node -->
    <node 
		name="landshark_robot_node" 
		pkg="landshark" 
		type="landshark"
		respawn="true"  >
		<remap from="/robot/odom" to="/odom" />
		<remap from="/robot/cmd_vel" to="/cmd_vel" />
		<remap from="/robot/set_master_control" to="/set_master_control" />
	</node>

    <!-- Velodyne Lidar -->
    <!-- declare arguments with default values -->
    <arg name="calibration" default="$(find velodyne_pointcloud)/params/32db.yaml"/>
    <arg name="device_ip" default="" />
    <arg name="frame_id" default="velodyne" />
    <arg name="manager" default="$(arg frame_id)_nodelet_manager" />
    <arg name="max_range" default="130.0" />
    <arg name="min_range" default="0.4" />
    <arg name="pcap" default="" />
    <arg name="port" default="2368" />
    <arg name="read_fast" default="false" />
    <arg name="read_once" default="false" />
    <arg name="repeat_delay" default="0.0" />
    <arg name="rpm" default="600.0" />
    <arg name="gps_time" default="false" />
    <arg name="pcap_time" default="false" />
    <arg name="cut_angle" default="-0.01" />
    <arg name="timestamp_first_packet" default="false" />
    <arg name="laserscan_ring" default="16" />
    <arg name="laserscan_resolution" default="0.007" />
    <arg name="organize_cloud" default="false" />

    <!-- start nodelet manager and driver nodelets -->
    <include file="$(find velodyne_driver)/launch/nodelet_manager.launch">
        <arg name="device_ip" value="$(arg device_ip)"/>
        <arg name="frame_id" value="$(arg frame_id)"/>
        <arg name="manager" value="$(arg manager)" />
        <arg name="model" value="32E"/>
        <arg name="pcap" value="$(arg pcap)"/>
        <arg name="port" value="$(arg port)"/>
        <arg name="read_fast" value="$(arg read_fast)"/>
        <arg name="read_once" value="$(arg read_once)"/>
        <arg name="repeat_delay" value="$(arg repeat_delay)"/>
        <arg name="rpm" value="$(arg rpm)"/>
        <arg name="gps_time" value="$(arg gps_time)"/>
        <arg name="pcap_time" value="$(arg pcap_time)"/>
        <arg name="cut_angle" value="$(arg cut_angle)"/>
        <arg name="timestamp_first_packet" value="$(arg timestamp_first_packet)"/>
    </include>

    <!-- start transform nodelet -->
    <include file="$(find velodyne_pointcloud)/launch/transform_nodelet.launch">
        <arg name="model" value="32E"/>
        <arg name="calibration" value="$(arg calibration)"/>
        <arg name="manager" value="$(arg manager)" />
        <arg name="fixed_frame" value="" />
        <arg name="target_frame" value="" />
        <arg name="max_range" value="$(arg max_range)"/>
        <arg name="min_range" value="$(arg min_range)"/>
        <arg name="organize_cloud" value="$(arg organize_cloud)"/>
    </include>

    <!-- start laserscan nodelet -->
    <include file="$(find velodyne_pointcloud)/launch/laserscan_nodelet.launch">
        <arg name="manager" value="$(arg manager)" />
        <arg name="ring" value="$(arg laserscan_ring)"/>
        <arg name="resolution" value="$(arg laserscan_resolution)"/>
    </include>
    
    <!-- Cartographer -->
    <param name="robot_description"
    textfile="$(find cartographer_ros)/urdf/Landshark_2D.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />
    -->
    	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_Lidar" args="0 0 0.767 3.92699 0 0 base_link velodyne" /> <!-- z distance from wheel axis to lidar center and 225° offset -->

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename Landshark_2D.lua"
      output="screen">
    <remap from="echoes" to="horizontal_laser_2d" />
    -->
    <remap from="points2" to="velodyne_points" />
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

<!-- Joysticknode -->
<arg name="joy_config" default="ps3" />
<arg name="joy_dev" default="/dev/input/js0" />
<arg name="config_filepath" default="$(find teleop_twist_joy)/config/$(arg joy_config).config.yaml" />
<arg name="joy_topic" default="joy" />
  
<node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.3" />
    <param name="autorepeat_rate" value="20" />
    <remap from="joy" to="$(arg joy_topic)" />
</node>

<node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node">
    <rosparam command="load" file="$(arg config_filepath)" />
    <remap from="joy" to="$(arg joy_topic)" />
</node>

</launch>